
body {
  background-color: #f8f9fa; 
}


.hover-shadow {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-shadow:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15) !important;
  cursor: pointer;
}


.card-img-top {
  border-bottom: 1px solid #eee;
}